h1 {
    text-align: center;
    margin-bottom: 0px;
    margin-top: 65px;
}
.albumCover {
    margin: 2%;
    padding: 2%;
    background-color: #555;
    transition: transform 0.3s;
    box-shadow: 3px 3px 3px 3px #111;
}

.albumCover:hover {
    transform: scale(1.15);
}