#home_page {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Set the height of the container to the full viewport height */
}

#cart {
    text-align: center;
    align-items: center;
    justify-content: center;
}

#cart_feedback {
    text-align: center;
    margin-bottom: 0px;
    margin-top: 65px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    text-align: center;
    margin-bottom: 0px;
    margin-top: 65px;
}

.albumCover {
    width: 100%;
    height: auto;
    background-color: #555;
    box-shadow: 3px 3px 3px 3px #111;
}

.imageContainer:hover {
    transform: scale(1.15);
}

.thumbnailContainer:hover {
    transform: scale(1.15);
}

.imageContainer {
    display: inline-block;
    width: 25%;
    margin: 2%;
    border: 25px solid #555;
    box-shadow: 3px 3px 3px 3px #111;
    transition: transform 0.3s;
    background-color: #555;
}

.image {
    display: inline-block;
    text-align: center;
}

.thumbnailContainer {
    display: inline-block;
    width: 25%;
    margin: 2%;
    border: 25px solid #555;
    border-bottom: 0px solid #555;
    box-shadow: 3px 3px 3px 3px #111;
    transition: transform 0.3s;
    background-color: #555;
}

.thumnail {
    display: inline-block;
    text-align: center;
}

.cartItemDisplay {
    flex: 1 0 calc(25% - 10px);
    max-width: calc(25% - 10px);
    max-height: 200px;
    overflow: hidden;
}

.scrollable-container {
    height: 400px; /* Adjust the height as needed */
    width: 60%;
    overflow: auto;
    border: 1px solid #ffffff; /* Optional: Add a border for better visibility */
  }